.app {
  margin: 2vh auto;
  text-align: center;
}

.realEstateForm {
  margin: 1% auto;
  text-align: left;
  max-width: 1000px;
}

.radioGroupEstateType {
  margin: 0 auto;
  width: 100%;
}

.radioGroupDistrict {
  margin: auto;
  padding-top: 2%;
  width: 100%;
  min-height: 15vh;
}

.formButton {
  margin: 0 auto;
  text-align: center;
}

.contactForm {
  margin-top: 2vh;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 600px;
  margin: 2vh auto;
}
